@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./foto/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.Logo {
  width: 10%;
  margin-block: 2%;
  margin-left: 2%;
}

main {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

h3 {
  padding-block: 2%;
}

p,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  font-size: 16px;
}
p {
  padding-block: 2%;
}

main li {
  list-style-type: none;
  display: inline;
}
/*MODIFICHE ALLE STELLE */

.ratingcontainer {
  display: inline-block;
  gap: 8px;
  cursor: pointer;
}

.star {
  color: #413f3f;
  transition: color 0.2s ease-in-out;
  font-size: 50px;
}

.star.hover,
.star.selected {
  color: #0ff;
}
/* MODIFCHE AL FOOTER*/

button {
  background-color: #0ff;
  padding-block: 20px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: #0ff 0px 0px 20px 0px;
}

#comment {
  margin-block: 4%;
  min-width: 50%;
  border: none;
  border-bottom: solid #900080;
  background: none;
  color: white;
}
