/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  max-width: 100%;
  font-size: 1.2rem;
  font-family: "Open Sans";
  line-height: 1.65;
  color: #393d41;
}
/* HEADER */
header {
  height: 100%;
  background-color: black;
  line-height: 1.5;
  color: #393d41;
}
header nav {
  height: 50px;
  width: inherit;
}
header nav img {
  text-align: start;
  padding: 10px;
  padding-left: 20px;
  width: 75px;
}
header div {
  height: 550px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  padding: 30px;
  text-align: center;
  align-content: center;
}
header div h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: #25a2c3;
  font-family: "Montserrat";
  vertical-align: middle;
}
header div p {
  padding-top: 20px;
  text-align: center;
}
header div button {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #f04c2f;
  border-radius: 5px;
  border: 0px;
  margin-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 700;
  cursor: pointer;
}
/* MAIN */
.container {
  display: inline-block;
  text-align: center;

  margin-left: 200px;
  margin-right: 200px;
}
.container2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: left;
  vertical-align: top;
  padding-top: 100px;
}
.container3 {
  display: inline-block;
  text-align: center;
  width: 100%;
  border: 0;
}
.standard {
  display: inline-block;
  max-width: 100%;
  padding: 20px;
  text-align: left;
  padding-bottom: 10px;
  vertical-align: top;
  margin: 0;
}

.standard h3 {
  color: #25a2c3;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
}
.rotonda {
  width: 45%;
  display: inline-block;
  text-align: right;
  padding-right: 30px;
}

.rotonda img {
  max-width: 100%;
  width: 500px;
  border-radius: 50%;
  padding-top: 10px;
}
section {
  background-color: #e22d0e;
  color: white;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
section h2 {
  padding: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  font-size: larger;
}
section h5 {
  padding-bottom: 20px;
  font-style: italic;
  color: whitesmoke;
  font-weight: 100;
}
section h4 {
  font-weight: 400;
}

section h6 {
  font-size: small;
  padding-bottom: 15px;
}
aside {
  text-align: center;
}
aside div {
  margin: 15px;
  border: solid #dee1e3 1px;
  border-radius: 5px;
  width: 450px;
  display: inline-block;
}

aside div img {
  width: 450px;
}
aside div h3 {
  color: #25a2c3;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
}
aside div p {
  padding-bottom: 30px;
  padding: 10px;
}

footer {
  margin: 0;
  margin-top: 50px;
  background-color: #25a2c3;
  color: #c8e7f0;
  text-align: center;
}
footer h1 {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: xx-large;
  line-height: 1.5;
  padding-top: 25px;
  padding-bottom: 15px;
}
footer a {
  color: #c8e7f0;
}
footer {
  padding-bottom: 20px;
}
hr {
  margin: 0;
  margin-top: 30px;
  margin-right: 800px;
  margin-left: 800px;
}
footer div {
  padding-top: 30px;
}
